<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prenom</th>  <th>encadrent</th><th>societe</th> <th>email</th><th>File</th></tr>
                </thead>
                <tbody *ngFor="let produit of produits">
                    <tr>
                        <td>{{produit.idEtudiant}}</td>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.prenom}}</td>
                        <td>{{produit.encadrent}}</td>
                        <td>{{produit.societe}}</td>
                        <td>{{produit.email}}</td>
                        <td>{{produit.categorie?.name}}</td> 
                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-success" [routerLink]="['/updateProduit',produit.idEtudiant]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>